* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(360deg, #000000, #200031);
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.calculator {
    background-color: #dcdcdc;
    padding: 30px;
    border-radius: 20px;
}

#display {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    background-color: #f5f5f5;
}

.box-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

button {
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b3b2b2;
}

.btn-0 {
    grid-column: 1 / 3;
    width: 100%;
}

.btn-result {
    grid-row: 4 / 6;
    height: 100%;
    grid-column: 4;
}

@media (max-width: 500px) {
    .calculator {
        padding: 20px;
    }

    #display {
        height: 45px;
        font-size: 18px;
    }

    button {
        height: 50px;
        width: 50px;
        font-size: 16px;
    }
}